.idea
__pycache__
*.pyc
*.pyo
*.so
*.egg-info
*.egg
*.pyclass
docker/mongodb/*
# Directories
build
dist
htmlcov
backend/etl/tmp/*
backend/etl/.ideia/
backend/etl/venv/*
backend/api/node_modules/
backend/api/.ideia/
frontend/node_modules/
frontend/.ideia/